
        <a href="/purchase" title="Purchased">
            <span class="nav_icon">
                <span class="icon icon_purchased"></span>
            </span>
            <span class="nav_text">
                purchased
            </span>
        </a>
   

    @code {

    }
