@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p> Your email was succesfully confirmed</p>
<p>
    You can now <a href="/authentication/login">Log in</a>
</p>